[submodule "roles/docker"]
	path = roles/docker
	url = git@github.com:iancleary/ansible-role-docker.git
[submodule "roles/zsh"]
	path = roles/zsh
	url = git@github.com:iancleary/ansible-role-zsh.git
[submodule "roles/yadm"]
	path = roles/yadm
	url = git@github.com:iancleary/ansible-role-yadm.git
[submodule "roles/github_cli"]
	path = roles/github_cli
	url = git@github.com:iancleary/ansible-role-github_cli.git
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = git@github.com:iancleary/ansible-role-nodejs.git
