---
- name: Add appimagelauncher-team repositories
  become: true
  ansible.builtin.apt_repository:
    repo: "ppa:appimagelauncher-team/stable"
    state: present
  register: appimagelauncher_repo

- name: Update apt cache if repo was added.
  become: true
  apt:
    update_cache: true
  when: appimagelauncher_repo.changed
  tags: ['skip_ansible_lint']

- name: Ensure appimagelauncher is installed.
  become: true
  apt:
    name: "appimagelauncher"
    state: present
