[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=TickTick
GenericName=TickTick

# A comment which can/will be used as a tooltip
Comment=TickTick Web

# The path to the folder in which the executable is run
Path=/opt/ticktick/TickTick-linux-x64

# The executable of the application, possibly with arguments.
Exec=/opt/ticktick/TickTick-linux-x64/TickTick

# The name of the icon that will be used to display this entry
Icon=/opt/ticktick/TickTick-linux-x64/resources/app/icon.png

# Describes whether this application needs to be run in a terminal or not
#Terminal=false

# Describes the categories in which this entry should be shown
Categories=Utility;

# Startup Entries
StartupNotify=true
StartupWMClass=TickTick

# Keywords
Keywords=ticktick
